//////////
// BUTTONS

.btn, .btn-default {
	//@include single-transition(all, 200ms, ease-out);   // adding an animation to the transition
    border: 1px solid $pink;
    background-color: $white;  
	color: $pink;
	&:hover, &:active {
		background-color: $pink;
		color: $white;
		border-bottom-width: 1px; // adjusting for default framework setting
	}
}

// problem child
.btn:not(.disabled):hover {
	margin-top: 0px;
}