// originally inline in default template

.navbar {
    border: none;
}

.jumbotron {
    background-color: transparent;
    border: none;
}

/* LEGACY */
.vcenter td, th {
    vertical-align : baseline;
    text-align: center;
}

.schedule-container ul {
    margin: 0;
    margin-top: 30px;
    list-style: none;
    position: relative;
    padding: 1px 100px;
    color: #6b6363;
    font-size: 16px;
    margin-bottom: 50px;
}
.schedule-container ul:before {
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    border-left: 2px dashed #aaa;
}
.schedule-container ul li {
    position: relative;
    margin-left: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 14px;
    border-radius: 6px;
    width: 250px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.08);
}
.schedule-container ul li:not(:first-child) {
    margin-top: 60px;
}
.schedule-container ul li > span {
    width: 2px;
    height: 100%;
    background: #6cda85;
    left: -30px;
    top: 0;
    position: absolute;
}
.schedule-container ul li > span:before, .schedule-container ul li > span:after {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid #888;
    position: absolute;
    background: #fff;
    left: -5px;
    top: 0;
}
.schedule-container ul li span:after {
    top: 100%;
}
.schedule-container ul li > div {
    margin-left: 10px;
}
.schedule-container div .title, .schedule-container div .type {
    font-weight: 600;
    font-size: 12px;
}
.schedule-container div .info {
    font-weight: 300;
}
.schedule-container div > div {
    margin-top: 5px;
}
.schedule-container span.number {
    height: 100%;
}
.schedule-container span.number span {
    position: absolute;
    font-size: 16px;
    left: -50px;
    font-weight: bold;
}
.schedule-container span.number span:first-child {
    top: 0;
}
.schedule-container span.number span:last-child {
    top: 100%;
}
