---
title: Schedule
---

<h1>Live Stream</h1>

<p class="lead">If you want to particiapte in the chat, please head over to the <a href="https://www.youtube.com/c/cloudnativefdn/live">Youtube Livestream page.</a></p>
<iframe width="100%" height="760" src="https://www.youtube.com/embed/live_stream?channel=UCvqbFHwN-nwalWPjPUKpvTA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


<div class="modal fade" id="codeofconduct-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Code of Conduct</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            All attendees are expected to adhere to the <a href="https://cloudnativesummit.online/codeofconduct/" target="_blank">Code of Conduct</a>. We ask that you treat your fellow attendees with respect and interact appropriately throughout the event. Organizers will be available throughout the event in case any issues arise. If you need to report a Code of Conduct violation please contact: 
            <center>
                <p>Kim McMahon</p>
                <p>Slack: @Kim McMahon on <a href="https://cncf.slack.com" target="_blank">CNCF Slack</a></p>
                <p>Email: kmcmahon@cncf.io</p>
            </center>
            
            
            Can't wait to see you all there! Make sure to join the conversation on Twitter using the hashtag #CloudNativeSummit. 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>

