---
title: Schedule
---

<h1>Schedule</h1>

<hr>

<div class="row pt-3 pb-2"> 
  <div class="col-6">
    <h2>Opening Remarks</h2>
    <h3>Chris Aniszczyk</h3>
  </div>
  <div class="col-1">
    <p class="lead">6a PT</p>
  </div>
  <div class="col-1">
    <p class="lead">9a ET</p>
  </div>
  <div class="col-1">
    <p class="lead">15:00 CET</p>
  </div>
  <div class="col-3">
    <div title="Add to Calendar" class="addeventatc">
      Add to Calendar
        <span class="start">04/07/2020 06:00 AM</span>
        <span class="end">04/07/2020 06:20 AM</span>
        <span class="timezone">America/Los_Angeles</span>
        <span class="title">Opening remarks - Chris Aniszczyk :: Cloud Native Summit Online</span>
        <span class="description">Date: Tuesday, April 7th, 2020
          Time: 6a - 2p PT / 9a - 5p ET / 15:00 - 23:00 CET
          
          Join #CloudNativeSummit for a live online event with updates from the CNCF graduated projects and a hallway track with breakout sessions with fellow attendees.  Enter and drop as you please to make the most of this community event!</span>
        <span class="location">Virtual</span>
    </div>
  </div>
  
</div>

<hr>

<div class="row pt-3 pb-2"> 
  <div class="col-6">
    <h2>"SIG-Culture" & Wellbeing-WG</h2>
    <h3>Mark Coleman and Stephen Augustus <br>moderated by Ariel Jatib</h3>
  </div>
  <div class="col-1">
    <p class="lead">6:20a PT</p>
  </div>
  <div class="col-1">
    <p class="lead">9:20a ET</p>
  </div>
  <div class="col-1">
    <p class="lead">15:20 CET</p>
  </div>
  <div class="col-3">
    <div title="Add to Calendar" class="addeventatc">
    Add to Calendar
      <span class="start">04/07/2020 06:20 AM</span>
      <span class="end">04/07/2020 07:00 AM</span>
      <span class="timezone">America/Los_Angeles</span>
      <span class="title">SIG-Wellness & “SIG-Culture” - Mark Coleman and Stephen Augustus :: Cloud Native Summit Online</span>
      <span class="description">Date: Tuesday, April 7th, 2020
        Time: 6a - 2p PT / 9a - 5p ET / 3p - 11p CET
        
        Join #CloudNativeSummit for a live online event with updates from the CNCF graduated projects and a hallway track with breakout sessions with fellow attendees.  Enter and drop as you please to make the most of this community event!</span>
      <span class="location">Virtual</span>
    </div>
  </div>
</div>

<hr>

<div class="row pt-3 pb-2"> 
  <div class="col-6">
    <h2>TUF New Grad Project Update</h2>
    <h3>Lukas Pühringer <br> in conversation with Priyanka Sharma</h3>
  </div>
  <div class="col-1">
    <p class="lead">7a PT</p>
  </div>
  <div class="col-1">
    <p class="lead">10a ET</p>
  </div>
  <div class="col-1">
    <p class="lead">16:00 CET</p>
  </div>
  <div class="col-3">
    <div title="Add to Calendar" class="addeventatc">
      Add to Calendar
        <span class="start">04/07/2020 07:00 AM</span>
        <span class="end">04/07/2020 07:45 AM</span>
        <span class="timezone">America/Los_Angeles</span>
        <span class="title">TUF & FluentD - Justin Cappos & Eduardo Silva :: Cloud Native Summit Online</span>
        <span class="description">Date: Tuesday, April 7th, 2020
          Time: 6a - 2p PT / 9a - 5p ET / 15:00 - 23:00 CET
          
          Join #CloudNativeSummit for a live online event with updates from the CNCF graduated projects and a hallway track with breakout sessions with fellow attendees.  Enter and drop as you please to make the most of this community event!</span>
        <span class="location">Virtual</span>
    </div>
  </div>
  
</div>

<hr>

<div class="row"> 
  <div class="col-12 text-center">
    <h2 class="text-uppercase">Breakout Sessions</h2>
    <h3>The Hallway Track! Puppies, music and cloud native chats.</h3>
    <p class="lead">7:45a - 8:15a PT, 10a - 11:15a ET, 16:45 - 17:15 CET</p>
  </div>
</div>

<hr>

<div class="row pt-3 pb-2"> 
  <div class="col-6">
    <h2>Prometheus & Jaeger</h2>
    <h3>Ben Kochie & Yuri Shkuro <br> moderated by Michael Friedrich </h3>
  </div>
  <div class="col-1">
    <p class="lead">8:15a PT</p>
  </div>
  <div class="col-1">
    <p class="lead">11:15a ET</p>
  </div>
  <div class="col-1">
    <p class="lead">17:15p CET</p>
  </div>
  <div class="col-3">
    <div title="Add to Calendar" class="addeventatc">
      Add to Calendar
        <span class="start">04/07/2020 08:15 AM</span>
        <span class="end">04/07/2020 09:00 AM</span>
        <span class="timezone">America/Los_Angeles</span>
        <span class="title">Prometheus & Jaeger - Ben Kochie & Yuri Shkuro :: Cloud Native Summit Online</span>
        <span class="description">Date: Tuesday, April 7th, 2020
          Time: 6a - 2p PT / 9a - 5p ET / 15:00 - 23:00 CET
          
          Join #CloudNativeSummit for a live online event with updates from the CNCF graduated projects and a hallway track with breakout sessions with fellow attendees.  Enter and drop as you please to make the most of this community event!</span>
        <span class="location">Virtual</span>
    </div>
  </div>
  
</div>

<hr>

<div class="row pt-3 pb-2"> 
  <div class="col-6">
    <h2>CoreDNS & containerd </h2>
    <h3>John Belameric & Phil Estes <br> moderated by Abubakar Siddiq Ango</h3>
  </div>
  <div class="col-1">
    <p class="lead">9a PT</p>
  </div>
  <div class="col-1">
    <p class="lead">12p ET</p>
  </div>
  <div class="col-1">
    <p class="lead">18:00 CET</p>
  </div>
  <div class="col-3">
    <div title="Add to Calendar" class="addeventatc">
      Add to Calendar
        <span class="start">04/07/2020 09:00 AM</span>
        <span class="end">04/07/2020 09:45 AM</span>
        <span class="timezone">America/Los_Angeles</span>
        <span class="title">CoreDNS & containerd - John Belameric & Phil Estes :: Cloud Native Summit Online</span>
        <span class="description">Date: Tuesday, April 7th, 2020
          Time: 6a - 2p PT / 9a - 5p ET / 15:00 - 23:00 CET
          
          Join #CloudNativeSummit for a live online event with updates from the CNCF graduated projects and a hallway track with breakout sessions with fellow attendees.  Enter and drop as you please to make the most of this community event!</span>
        <span class="location">Virtual</span>
    </div>

  </div>
 
</div>
<hr>

<div class="row"> 
  <div class="col-12 text-center">
    <h2 class="text-uppercase">Breakout Sessions</h2>
    <h3>The Hallway Track! Puppies, music and cloud native chats.</h3>
    <p class="lead">9:45a - 10:15a PT, 12:45p - 1:15p ET, 18:45p - 19:15p CET</p>
  </div>
</div>

<hr>

<div class="row pt-3 pb-2"> 
  <div class="col-6">
    <h2>Kubernetes & Vitess</h2>
    <h3>Max Koerbaecher & Sugu Sougoumarane <br> moderated by Abubakar Siddiq Ango </h3>
  </div>
  <div class="col-1">
    <p class="lead">10:15a PT</p>
  </div>
  <div class="col-1">
    <p class="lead">1:15p ET</p>
  </div>
  <div class="col-1">
    <p class="lead">19:15 CET</p>
  </div>
  <div class="col-3">
    <div title="Add to Calendar" class="addeventatc">
      Add to Calendar
        <span class="start">04/07/2020 10:15 AM</span>
        <span class="end">04/07/2020 11:00 AM</span>
        <span class="timezone">America/Los_Angeles</span>
        <span class="title">Kubernetes & Vitess - Max Koerbaecher & Sugu Sougoumarane :: Cloud Native Summit Online</span>
        <span class="description">Date: Tuesday, April 7th, 2020
          Time: 6a - 2p PT / 9a - 5p ET / 15:00 - 23:00 CET
          
          Join #CloudNativeSummit for a live online event with updates from the CNCF graduated projects and a hallway track with breakout sessions with fellow attendees.  Enter and drop as you please to make the most of this community event!</span>
        <span class="location">Virtual</span>
    </div>
  </div>
 
</div>

<hr>

<div class="row pt-3 pb-2"> 
  <div class="col-6">
    <h2>SIGs : Contributing, Why and How</h2>
    <h3>Taylor Dolezal, Puja Abbassi, Stephen Augustus <br> moderated by Ariel Jatib</h3>
  </div>
  <div class="col-1">
    <p class="lead">11:00a PT</p>
  </div>
  <div class="col-1">
    <p class="lead">2:00p ET</p>
  </div>
  <div class="col-1">
    <p class="lead">20:00 CET</p>
  </div>
  <div class="col-3">
    <div title="Add to Calendar" class="addeventatc">
      Add to Calendar
        <span class="start">04/07/2020 11:00 AM</span>
        <span class="end">04/07/2020 11:40 AM</span>
        <span class="timezone">America/Los_Angeles</span>
        <span class="title">SIGs : Conttributing, why and how - Taylor Dolezal, Puja Abbassi, Stephen Augustus :: Cloud Native Summit Online</span>
        <span class="description">Date: Tuesday, April 7th, 2020
          Time: 6a - 2p PT / 9a - 5p ET / 15:00 - 23:00 CET
          
          Join #CloudNativeSummit for a live online event with updates from the CNCF graduated projects and a hallway track with breakout sessions with fellow attendees.  Enter and drop as you please to make the most of this community event!</span>
        <span class="location">Virtual</span>
    </div>

  </div>
</div>

<hr>

<div class="row"> 
  <div class="col-12 text-center">
    <h2 class="text-uppercase">Breakout Sessions</h2>
    <h3>The Hallway Track! Puppies, music and cloud native chats.</h3>
    <p class="lead"> 11:45a - 12:15p PT, 2:45p - 2:15p ET, 20:45 - 21:15 CET</p>
  </div>
</div>

<hr>

<div class="row pt-3 pb-2"> 
  <div class="col-6">
    <h2>Resilience in the Cloud Native Community</h2>
    <h3>Liz Rice, Michelle Noorali <br> moderated by Priyanka Sharma</h3>
  </div>
  <div class="col-1">
    <p class="lead">12:15p PT</p>
  </div>
  <div class="col-1">
    <p class="lead">2:15p ET</p>
  </div>
  <div class="col-1">
    <p class="lead">21:15 CET</p>
  </div>
  <div class="col-3">
    <div title="Add to Calendar" class="addeventatc">
      Add to Calendar
        <span class="start">04/07/2020 12:15 PM</span>
        <span class="end">04/07/2020 12:45 PM</span>
        <span class="timezone">America/Los_Angeles</span>
        <span class="title">Resilience in the Cloud Native Community</span>
        <span class="description">Date: Tuesday, April 7th, 2020
          Time: 6a - 2p PT / 9a - 5p ET / 3p - 11p CET
          
          Join #CloudNativeSummit for a live online event with updates from the CNCF graduated projects and a hallway track with breakout sessions with fellow attendees.  Enter and drop as you please to make the most of this community event!</span>
        <span class="location">Virtual</span>
    </div>
  </div>

</div>

<hr>

<div class="row pt-3 pb-2"> 
  <div class="col-6">
    <h2>Envoy & Fluentd</h2>
    <h3>Matt Klein & Eduardo Silva <br> moderated by Marco Palladino</h3>
  </div>
  <div class="col-1">
    <p class="lead">12:45p PT</p>
  </div>
  <div class="col-1">
    <p class="lead">3:45p ET</p>
  </div>
  <div class="col-1">
    <p class="lead">21:45p CET</p>
  </div>
  <div class="col-3">
    <div title="Add to Calendar" class="addeventatc">
      Add to Calendar
        <span class="start">04/07/2020 12:45 PM</span>
        <span class="end">04/07/2020 01:30 PM</span>
        <span class="timezone">America/Los_Angeles</span>
        <span class="title">Envoy & Fluentd - Matt Klein & Eduardo Silva :: Cloud Native Summit Online</span>
        <span class="description">Date: Tuesday, April 7th, 2020
          Time: 6a - 2p PT / 9a - 5p ET / 15:00 - 23:00 CET
          
          Join #CloudNativeSummit for a live online event with updates from the CNCF graduated projects and a hallway track with breakout sessions with fellow attendees.  Enter and drop as you please to make the most of this community event!</span>
        <span class="location">Virtual</span>
    </div>
  </div>
  
</div>

<hr>

<div class="row pt-3 pb-2 mb-5"> 
  <div class="col-6">
    <h2>Cloud Native Survey Results</h2>
    <h3>Kim McMahon & Kaitlyn Barnard</h3>
  </div>
  <div class="col-1">
    <p class="lead">1:30p PT</p>
  </div>
  <div class="col-1">
    <p class="lead">4:30p ET</p>
  </div>
  <div class="col-1">
    <p class="lead">22:30p CET</p>
  </div>
  <div class="col-3">
    <div title="Add to Calendar" class="addeventatc">
      Add to Calendar
        <span class="start">04/07/2020 01:30 PM</span>
        <span class="end">04/07/2020 02:00 PM</span>
        <span class="timezone">America/Los_Angeles</span>
        <span class="title">Cloud Native Survey Results - Kim McMahon & Kaitlyn Barnard :: Cloud Native Summit Online</span>
        <span class="description">Date: Tuesday, April 7th, 2020
          Time: 6a - 2p PT / 9a - 5p ET / 15:00 - 23:00 CET
          
          Join #CloudNativeSummit for a live online event with updates from the CNCF graduated projects and a hallway track with breakout sessions with fellow attendees.  Enter and drop as you please to make the most of this community event!</span>
        <span class="location">Virtual</span>
    </div>

  </div>
  
</div>

                
