<!-- moving original sidebar code here @arieljatib -->


            <!-- SIDEBAR -->
            <div class="col-sm-3 invisible" >              
                <div class="card text-center" style="width: 16rem; margin: 0 auto;">
                      <div class="card-body">
                        <h2 class="card-title">April </h2> <h1 style="font-size: 60px;">7th</h1>  <h3>2020</h3> <a href='https://www.timeanddate.com/worldclock/converter.html?iso=20200330T130000&p1=tz_pt&p2=tz_cest&p3=1440' target="_blank"><h4>6 AM - 2PM (Pacific) <br/> 3 PM - 11 PM (CEST)</h4> </a>
                        
                      <!-- Button trigger modal -->
                      <button type="button" class="btn btn-primary btn-lg" id="register-btn">
                        Register Now!
                      </button>

                    <div class="card" style="width: 16rem; margin: 0 auto; margin-top: 20px;">
                      <div class="card-header" style="text-align:center !important">
                        Support Us
                      </div>
                      <div class="card-body">
                        
                        <p class="card-text">Join us by speaking at, planning for, or promoting the event.</p>
                        <p style="text-align:center !important"><a href="/supportus" class="btn btn-primary">Learn more</a></p>
                      </div>
                    </div>
                    <div style="text-align: center; margin-top: 20px;">
                      
                        <div class="soc" data-size="50px" data-radius="circle">
                          <a target="_blank" href="https://ctt.ac/K5WTy" class="soc-twitter" title="Twitter"></a>
                        </div>
                        <a target="_blank" href="https://ctt.ac/K5WTy"><h4 style="color:#6b6363">#CloudNativeSummit</h4></a>
                      </a>
                    </div>
              </div>
            </div>
        </div>